@media (max-width: 320px){
    .desktop .option-edit {
        position: absolute;
        top: 35px;
        left: 0px;
        padding: 20px;
        border-radius: 10px;
        z-index: 2;
        background-color: #b7dbec;
        display: flex;
        flex-direction: column;
      }
}